*, *:before, *:after {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

@-ms-viewport {
    width: device-width;
}

img {
    border: 0;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}

embed, object, audio, video, img {
    max-width: 100%;
}

video, img {
    height: auto;
}

/* defaults */

ul,ol { list-style-position: inside; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

pre {
    display: block;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
    overflow: auto; }

code,code.hljs {
    display: block;
    padding: 1em; }

input[type="checkbox"] {
    margin-right: .25em;
    vertical-align: middle; }

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hypens: auto;
    hyphens: auto; }
p code, p samp, p kbd {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hypens: none;
    hyphens: none; }

.plainList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.serendipity_center {
    margin: .5em auto;
    text-align: center;
    font-size: small;
}

.serendipity_msg_important{
    color: #ff4136;
    font-size: .75rem;
}
.serendipity_msg_important:not(.msg_error) {
    background-color: #f3f8fc;
    padding: .5em;
    border: 1px solid #ddd;
}
.serendipity_msg_success,
.serendipity_msg_notice {
    color: #2ecc40;
    background-color: #fff;
    padding: .5em;
    border: 1px solid #ddd;
    font-size: .75rem;
}

#serendipity_comment_0 { /* a new unsaved comment preview only - normally #c0 */
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: .625em; }
.serendipity_image_link {
    display: inline-block;
    min-width: 4em; }
.contentarea p > .serendipity_image_left,
.contentarea p > .serendipity_imageComment_center,
.contentarea p > .serendipity_image_right {
    margin: .25em auto; }
.post table {
    border-collapse: separate;
    border-spacing: 2px;
    border: 1px solid #ddd;
    display: inline-grid;
    max-width: 100%;
    width: auto;
    overflow: auto;
    padding: .25em; }
.serendipity_commentForm table {
    border-collapse: separate;
    border-spacing: 2px; }

.serendipity_search,
.serendipity_content_message,
.serendipity_overview_noentries,
#serendipity_trackbacklist,
.serendipity_comments  .nocomments {
    margin: 1em .5rem;
    border: 1px solid #ccc;
    padding: .5em .5em;
    background-color: #efefef;
    font-size: small;
}

.comment_content h3 {
    background-image: none;
    padding-right: 0;
    font-size: small;
}

.staticpage_password_form {
    margin-top: 1em;
}
.staticpage_password_form fieldset {
    background-color: #eee;
    padding: .5em;
}

#primarycontent .serendipity_freetag_taglist .ftr-empty {
    margin-left: 0;
}

/* calendar */
.icon-back::before {
    content: "<"; }
.icon-next::before {
    content: ">"; }
.icon {
    display: inline-block;
    font-weight: 600;
    font-size: 1.065em;
    /*color: #FFF;*/
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
.serendipity_calendarHeader {
    text-align: center; }

body.preview_preview_body {
    background: #555; }
body.save_preview_body #outer {
    width: 100%; }
#content.preview_preview_content .divider2 {
    display: none;
    visibility: hidden; }


/*
	zenlike1.0 by nodethirtythree design
	http://www.nodethirtythree.com
*/

* {
    padding: 0em;
    margin: 0em;
}

body {
    background: #000000 url('{TEMPLATE_PATH}img/bg1.jpg');
    padding: 35px 0px;
}

body,input {
    font-size: 10pt;
    font-family: "georgia", "times new roman", serif;
    color: #333333;
}

p {
    line-height: 1.5em;
    margin-bottom: 1.0em;
    text-align: justify;
}

a {
    color: #B96D00;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}


h3 span {
    font-weight: normal;
}

h3,h4 {
    display: inline-block;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: right;
}
.post h3, .post h4 {
    margin: 1em 0;
    width: auto; }
.post:first-child h4 {
    margin-top: 0; }

h3 {
    font-size: 1.7em;
    padding-right: 34px;
    background-image: url('{TEMPLATE_PATH}img/db1.gif');
}

h4 {
    font-size: 1.2em;
    padding-right: 28px;
    background-image: url('{TEMPLATE_PATH}img/db2.gif');
}

.contentarea {
    padding-top: 1.3em;
}

img.left {
    position: relative;
    float: left;
    margin: 0em 1.8em 1.4em 0em;
}

img.right {
    position: relative;
    float: right;
    margin: 0em 0em 1.8em 1.8em;
}

.divider1 {
    position: relative;
    background: #fff url('{TEMPLATE_PATH}img/border2.gif') repeat-x;
    height: 14px;
    margin: 2.0em 0em 1.5em 0em;
    clear: both;
}

.divider2 {
    position: relative;
    height: 1px;
    border-bottom: solid 1px #eaeaea;
    margin: 2em 0;
}

.post .details {
    position: relative;
    top: -1.5em;
    font-size: 0.8em;
    color: #787878;
}

.post ul.controls {
    clear: both;
}

.post ul.controls li {
    display: inline;
    font-size: 0.8em;
}

.post ul.controls li a {
    background-repeat: no-repeat;
    background-position: left;
    padding: 0em 1.0em 0em 20px;
}

.post ul.controls li a.printerfriendly {
    background-image: url('{TEMPLATE_PATH}img/icon-printerfriendly.gif');
}

.post ul.controls li a.comments {
    background-image: url('{TEMPLATE_PATH}img/icon-comments.gif');
}

.post ul.controls li a.more {
    background-image: url('{TEMPLATE_PATH}img/icon-more.gif');
}

.box {
    position: relative;
    background: #FDFCF6 url('{TEMPLATE_PATH}img/boxbg.gif') repeat-x;
    left: -1.5em;
    top: -1.5em;
    padding: 1.5em;
    border-bottom: solid 1px #E1D2BD;
    margin-bottom: 1.0em;
}

ul.linklist {
    list-style: none;
}

ul.linklist li {
    line-height: 2.0em;
}

#upbg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 275px;
    background: #fff url('{TEMPLATE_PATH}img/bg2.jpg') repeat-x;
    z-index: 1;
}

#outer {
    z-index: 2;
    position: relative;
/*
	The width value below controls the overall width of the design. By default it's set to 82%
	(so it'll take up 82% of the browser window's width). You can set it to a different percentage
	value (70%, 90%, etc.) or even a pixel value (760px, 800px, etc.) to enforce a fixed width.
*/
    width: 82%;
    border: solid 7px #fff;
    background-color: #fff;
    margin: 0 auto;
}

#header {
    position: relative;
    width: 100%;
    height: 9.0em;
    background: #2B2B2B url('{TEMPLATE_PATH}img/topbg.gif') repeat-x;
    margin-bottom: 2px;
}

#headercontent {
    position: absolute;
    bottom: 0em;
    padding: 0em 2.0em 1.3em 2.0em;
}

#headercontent h1 {
    font-weight: normal;
    color: #fff;
    font-size: 2.5em;
}

#headercontent h1 sup {
    color: #777;
}

#headercontent h2 {
    font-size: 1.0em;
    font-weight: normal;
    color: #aaa;
}

#search {
    position: absolute;
    top: 5.5em;
    right: 2.0em;
    padding-right: 0.0em;
}

#search input.text {
    margin-right: 0.5em;
    vertical-align: middle;
    border-top: solid 1px #000000;
    border-right: 0px;
    border-bottom: solid 1px #777777;
    border-left: 0px;
    padding: 0.15em;
    width: 10.0em;
}

#search input.submit {
    background: #939B00 url('{TEMPLATE_PATH}img/buttonbg.gif') repeat-x;
    border: solid 1px #5F6800;
    font-weight: bold;
    padding: 0.25em;
    font-size: 0.8em;
    color: #F2F3DE;
    vertical-align: middle;
}

#headerpic {
    position: relative;
    height: 109px;
    background: #fff url('{TEMPLATE_PATH}img/hdrpic.jpg') no-repeat top left;
    margin-bottom: 2px;
}

#menu {
    position: relative;
    background: #7F8400 url('{TEMPLATE_PATH}img/menubg.gif') repeat-x top left;
    height: 3.5em;
    padding: 0em 1.0em 0em 1.0em;
    margin-bottom: 2px;
}

#menu ul {
    position: absolute;
    top: 1.1em;
}

#menu ul li {
    position: relative;
    display: inline;
}

#menu ul li a {
    padding: 0.5em 1.0em 0.9em 1.0em;
    color: #fff;
    text-decoration: none;
}

#menu ul li a:hover {
    text-decoration: underline;
}

#menu ul li a.active {
    background: #7F8400 url('{TEMPLATE_PATH}img/menuactive.gif') repeat-x top left;
}

#menubottom {
    background: #fff url('{TEMPLATE_PATH}img/border1.gif') repeat-x;
    height: 14px;
    margin-bottom: 1.5em;
}

#content {
    padding: 0 2em;
}

#primarycontainer {
    float: left;
    margin-right: -18.0em;
    width: 100%;
}

#primarycontent {
    margin: 1.5em 22.0em 0em 0em;
}

#secondarycontent {
    margin-top: 1.5em;
    float: right;
    width: 18.0em;
}

#footer {
    position: relative;
    height: 2.0em;
    clear: both;
    padding-top: 5.0em;
    background: #fff url('{TEMPLATE_PATH}img/border2.gif') repeat-x 0em 2.5em;
    font-size: 0.8em;
}

#footer .left {
    position: absolute;
    left: 2.0em;
    bottom: 1.2em;
}

#footer .right {
    position: absolute;
    right: 2.0em;
    bottom: 1.2em;
}


/* --- Additions for s9y port --- */
#headercontent h1 a.homelink1 {
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}

#headercontent h2 a.homelink2 {
    font-weight: normal;
    color: #aaa;
    text-decoration: none;
}

input#serendipityQuickSearchTermField {
    background: #fff url('{TEMPLATE_PATH}img/quicksearch.png') no-repeat 97% 50%;
    border: 1px solid #7f8400!important;
    width: 90%;
}

.container_serendipity_plugin_quicksearch {
    overflow: visible!important;
}

.serendipity_entryFooter {
    margin-top: 1em;
    font-size: 0.8em;
}

.serendipity_freeTag {
    text-align: left;
}

.post h4 a:link,
.post h4 a:active,
.post h4 a:visited {
    color: #333;
    text-decoration: none;
}

.post h4 a:hover {
    color: #b96d00;
    text-decoration: underline;
}

pre {
    font-family: Courier, monospace;
    font-size: 80%;
    line-height: 1em;
    white-space: pre;
    margin: 1em 0;
}

blockquote {
    border-left: 6px solid #7f8400;
    padding: 0 0 0 1em;
}

.freetag_cloud {
    padding-bottom: 1.5em;
}

.serendipity_freetag_taglist_related {
    font-weight: bold;
    font-size: 1.2em;
}

.serendipity_entrypaging,
.serendipity_entries_footer {
    font-size: 90%;
    margin: 1em 0;
}

.post ul,
.post ol {
    list-style-position: inside;
    margin: 1em 0;
}

ul.controls {
    list-style-position: outside;
}

.serendipity_commentsTitle {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.serendipity_comment {
    margin: 1em 0;
}

.comment_header {
    margin-bottom: .15em;
}

.serendipity_comment.odd .comment_content {
    border: 1px solid #ddd;
    padding: 0.5em;
}

.serendipity_comment.even .comment_content {
    border: 1px solid #ddd;
    padding: 0.5em;
}

.serendipity_commentBody {
    margin: 1em auto;
    padding: .25em;
    background-color: #fff;
}
.serendipity_comment_author_self .serendipity_comment_source .pc-owner,
.serendipity_comment_author_self .comment_header .pc-owner {
    background: #3e5f81e6;
    padding: .1em .25em;
    border-radius: 3px;
    color: #efefef;
    text-shadow: 1px 1px 2px #222;
}
.comments_by_author_pagination {
    text-align: center;
}
.comments_by_author_pagination.top {
    margin-top: 1em;
}
.comments_by_author_pagination.bottom {
    margin: 2em auto;
}

.serendipity_search_results {
    margin: 0.5em 0 1em;
}

.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: 1px solid #ddd;
    background-color: #f7f4dd;
    padding: 0;
    text-align: center;
}

/* style to center */
.serendipity_image_center {
    display: inherit;
    margin: 0 auto 1em auto;
}

.serendipity_imageComment_center {
    margin: auto;
}

.serendipity_imageComment_left {
    float: left;
    margin: 0 10px 5px 0;
}

.serendipity_imageComment_right {
    float: right;
    margin: 0 0 5px 10px;
}

.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
}

.serendipity_imageComment_txt {
    border-top: 1px solid #ddd;
    margin: 0;
    padding: 1%;
    clear: both;
    font-size: 90%;
    text-align: center;
}

/** some tweaking resets for the Styx gallery */ 
.serendipity_image_block.row .serendipity_imageComment_left, .serendipity_image_block.row .serendipity_imageComment_right, .serendipity_image_block.row .serendipity_image_link, .serendipity_image_block.row > .serendipity_image_left, .serendipity_image_block.row > .serendipity_image_right {
    min-width: auto;
}
@media only screen and (max-width: 768px) {
    .serendipity_image_block.row .serendipity_image_left, .serendipity_image_block.row .serendipity_image_right {
        width: 100% !important; }
}

/* Sponsored links */
ul#sponsorlinks {
    list-style: none;
    display: inline;
    margin-left: 0;
    padding-left: 0;
}

ul#sponsorlinks li {
    display: inline;
    padding-right: 2em;
}

p#sponsored {
    font-size: 90%;
    margin: 0;
    padding: 0.5em 0;
}
