body {
    background-color: #597c93;
    background-image: url('blue/bg.gif');
}

#top_bar {
    background-image: url('blue/top_bar.gif');
}

#serendipity_banner {
    background-color: #2494e7;
    background-image: url('blue/bar_gloss.gif');
    background-position: center top;
    background-repeat: repeat-x;
    border: 1px solid #000;
    width: 860px;
    height: 96px;
}

a:link,
a:visited,
a:active { color: #5b7e96; }

a:hover { color: #bfced8; }

.newsbox {
    border: 1px solid #597c93;
}
