body {
    margin: 0;
    background: #FFFFFF url('images/pink.gif') repeat-y;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #666;
}
h4.serendipitySideBarTitleRight {
    font-size: 1.2em;
    border-bottom: 5px solid #E5639A;
    color: #000;
}
h4.serendipitySideBarTitleLeft {
    font-size: 1.2em;
    border-bottom: 5px solid #9F57AF;
    color: #000;
}
