/* General Styles */
@-ms-viewport {
  width: device-width;
}

img {
    border: 0;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}

embed, object, audio, video, img {
    max-width: 100%;
}

video, img {
    height: auto;
}

ul,ol { list-style-position: inside; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

pre {
    display: block;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
    overflow: auto; }

.plainList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.serendipity_center {
    margin: .5em auto;
    text-align: center;
    font-size: small;
}

.serendipity_msg_important{
    color: #ff4136;
    font-size: .75rem;
}
.serendipity_msg_important:not(.msg_error) {
    background-color: #f3f8fc;
    padding: .5em;
    border: 1px solid #ddd;
}
.serendipity_msg_success,
.serendipity_msg_notice {
    color: #2ecc40;
    background-color: #fff;
    padding: .5em;
    border: 1px solid #ddd;
    font-size: .75rem;
}

#serendipity_comment_0 { /* a new unsaved comment preview only */
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: .625em; }
.content_post_body table {
    border: 1px solid #ddd;
    display: inline-grid;
    max-width: 100%;
    width: auto;
    overflow: auto;
    padding: .25em; }
.content_post p > .serendipity_image_left,
.content_post p > .serendipity_imageComment_center,
.content_post p > .serendipity_image_right {
    margin: .25em auto; }
p {
    display: inline-block;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hypens: auto;
    hyphens: auto; }
p code, p samp, p kbd {
    overflow-wrap: anywhere;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hypens: none;
    hyphens: none; }

.serendipity_search,
.serendipity_content_message,
.serendipity_overview_noentries,
#serendipity_trackbacklist,
.serendipity_comments  .nocomments {
    margin: 1em .5rem;
    border: 1px solid #ccc;
    padding: .5em .5em;
    background-color: #efefef;
    font-size: small;
}

.plugin_comment_body {
    overflow-wrap: break-word; }

#content .serendipity_freetag_taglist .ftr-empty {
    margin-left: 0;
}

/** Embedded images with the Serendipity Styx image manager **/

.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: 1px solid #DDD;
    background-color: transparent;
    margin: 0.25em;
    padding: 0.25em;
    text-align: center;
}
.serendipity_entry p > .serendipity_image_left,
.serendipity_entry p > .serendipity_imageComment_center,
.serendipity_entry p > .serendipity_image_right {
    margin: .25em auto;
}
.serendipity_imageComment_center {
    margin: .25em auto;
}
.serendipity_imageComment_left {
    float: left;
    margin-right: .5em;
}
.serendipity_imageComment_right {
    float: right;
    margin-left: .5em;
}
.serendipity_imageComment_txt {
    border-top: 1px solid #DDD;
    background-color: #EFEFEF;
    padding: .25em;
    clear: both;
    font-size: 8pt;
    text-align: center;
}
/* overwrite fallback plain image padding */
.serendipity_image_center {
    padding: .25em;
}
/* style to center */
.serendipity_image_center {
    display: block;
    margin: 0 auto 1em auto;
}
/* overwrite fallback gallery comment container margins and some of this comment styles */
.serendipity_image_block .serendipity_imageComment_left,
.serendipity_image_block .serendipity_imageComment_right {
    margin-top: auto;
    margin-right: unset;
    background-color: unset;
}
.serendipity_entry_body > .serendipity_imageComment_center > .serendipity_imageComment_txt,
.serendipity_entry_extended > .serendipity_imageComment_center > .serendipity_imageComment_txt {
    margin-top: .25em;
}
/* inside image blocks closely append .serendipity_imageComment_txt */
.serendipity_image_block > .serendipity_imageComment_left > .serendipity_imageComment_txt,
.serendipity_image_block > .serendipity_imageComment_right > .serendipity_imageComment_txt {
    padding: 0;
}


/*
** YoungButStrong
** Theme by Stefan2k1
** s9y port by fwaggle
** http://www.hungryhacker.com/
*/

a, .dtree a {
    color: #dabc73;
    text-decoration: underline;
}

body {
    background: #ffffff;
    color #564736;
    font-family: tahoma, sans-serif, helvetica;
    font-size: 11px;
    margin: 40px 0 0 0;
    padding: 0;
}

div#container {
    width: 850px;
    background: #342b22 url('{TEMPLATE_PATH}images/bg_body.jpg') repeat-y;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
}

div#logo {
    width: 374px;
    height: 90px;
    background: #ffffff url('{TEMPLATE_PATH}images/logo.gif') no-repeat;
    float: left;
}

div#logo h1 {
    margin: 0;
    padding: 0;
}

div#logo h1 a {
    display: block;
    width: 374px;
    height: 90px;
}

div#logo span {
    display: none;
}

div#ad_space {
    width: 476px;
    height: 90px;
    background: #ffffff url('{TEMPLATE_PATH}images/ad_space_bg.gif') no-repeat;
    float: right;
}

div#top {
    clear: both;
    width: 850px;
    height: 68px;
    background: url('{TEMPLATE_PATH}images/top.gif') no-repeat;
}

div#left {
    height: 100%;
    width: 511px;
    padding: 0 37px 50px 26px;
    background: url('{TEMPLATE_PATH}images/content_left_bg.gif') repeat-y;
    float: left;
}

div#content {
    width: 803px;
    padding: 0 18px 0 29px;
    clear: both;
}

div#right {
    width: 213px;
    float: right;
}

div#footer {
    width: 850px;
    height: 44px;
    clear: both;
    background: url('{TEMPLATE_PATH}images/footer.gif') no-repeat;
}

div#footer_links {
    width: 832px;
    margin: 0 auto;
}

div#footer_sponsors {
    width: 850px;
    height: 22px;
    text-align: center;
    background: #ffffff;
}

div.content_date {
    font-size: 24px;
    color: #d8bb6f;
    text-align: center;
    width: 53px;
    height: 51px;
    padding: 5px 0 0 0;
    background: url('{TEMPLATE_PATH}images/date.gif') no-repeat;
    float: left;
}

div.content_month {
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 5px;
}

div.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div.clearfix {
    display: inline-block;
}

div.content_post {
    width: 437px;
    float: right;
    margin: 0 0 30px 0;
}

div.content_post_cat {
    color: #d8bb6f;
    float: left;
}

div.content_post_comments {
    color: #d8bb6f;
    float: right;
}

div.content_post_body {
    clear: both;
}

div.content_post hr {
    height: 2px;
    width: 100%;
    clear: both;
    margin: 0;
    padding: 0;
    border-top:1px dashed #afa18f;
    border-bottom:1px dashed #ffffff;
    border-left:1px dashed #ffffff;
    border-right:1px dashed #ffffff;
}

div.navigation {
    clear: both;
    text-align: center;
}

div.box_right {
    color: #adadad;
    width: 201px;
    margin-bottom: 20px;
    padding-bottom: 15px line-height: 20px;
    background: #2d251c url('{TEMPLATE_PATH}images/box_right_bg.gif') repeat-x;
    padding: 13px 0px 15px 13px;
}

h2.box_right_top {
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    width: 204px;
    height: 31px;
    padding: 15px 0 0 10px;
    margin: 0;
    background: url('{TEMPLATE_PATH}images/box_right.gif') no-repeat;
}

h2.content_title {
    margin: 0;
    font-weight: normal;
    font-size: 24px;
}

h2.content_title a:link, .content_title a:visited {
    text-decoration: none;
    color: #564736;
}

h3 a, h3 a:visited {
    color: #564736;
    text-decoration: none;
}

form#searchform {
    
}

form#searchform input#serendipityQuickSearchTermField {
    height: 20px;
    width: 90%;
    background: #3d3328;
    border: 1px dashed #2b231b;
    color: #816647;
    font-family: tahoma, helvetica, sans-serif;
    font-size: 12px;
}

img {
    border: 0;
}

ul#categories_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul#categories_list li {
    color: #d8bb6f;
    padding: 0 0 2px 10px;
    background: url('{TEMPLATE_PATH}images/star.gif') 0px 2px no-repeat;
    margin: 0;
}

ul#categories_list li a {
    color: #ffffff;
}

ul#categories_list li a:hover {
    color: #d8bb6f;
}

ul#categories_list li input {
    width: 15px;
    vertical-align: middle;
}

td.serendipity_calendarDay {
    color: #ffffff;
    text-align: right;
    padding-right: 5px;
}

td.serendipity_weekDayName {
    color: #ffffff;
}

.commentlist {
    padding: 0;
}
.serendipity_commentBody {
    margin: 1em auto;
}
.serendipity_comment_author_self .serendipity_comment_source .pc-owner,
.serendipity_comment_author_self .comment_header .pc-owner {
    background: #3e5f81e6;
    padding: .1em .25em;
    border-radius: 3px;
    color: #efefef;
    text-shadow: 1px 1px 2px #222;
}
.comments_by_author_pagination {
    text-align: center;
}
.comments_by_author_pagination.top {
    margin-top: 1em;
}
.comments_by_author_pagination.bottom {
    margin: 2em auto;
}
