

/* Cappuccino.css for Coffee Bar serendipity theme
    by David Cummins | themes.daves.me.uk         */


#mainpane {
    border-left: 1px solid #431100;
    border-right: 1px solid #431100;
    border-bottom: 1px solid #431100;
    background-color: #FFFAF0;
}

body {
    background-color: #EFE7D9;
}

.menu {
    border-top: .09em solid #431100;
    border-bottom: .09em solid #431100;
    border-left: 1px solid #431100;
    border-right: 1px solid #431100;
}

#serendipity_banner {
    border: 1px solid #431100;
    border-bottom: 0;
}

.serendipity_title a:hover {
    color: #625C4C;
}

.serendipity_date {
    color: #625C4C;
}

table.serendipity_calendar a {
    color: #541100;
}

td.serendipity_weekDayName {
    color: #948663;
}

td.serendipity_calendarHeader a:link,
td.serendipity_calendarHeader a:visited,
td.serendipity_calendarHeader a:hover {
    color: #625C4C;
}

/* Container for each item on the side bar */
div.serendipitySideBarItem {
    border-bottom: dotted 1px #6C4F23;
}

/* title of an individual item */
.serendipitySideBarTitle {
    background-color: #948663;
    border-bottom: solid 2px #625C4C;
    border-right: solid 10px #625C4C;
}

.serendipity_freeTag_taglist a:hover {
    color: #625C4C;
}

img.serendipity_freeTag_xmlButton {
    vertical-align: middle;
}

