

/* espresso.css for 'Coffee bar' serendipity theme
    by David Cummins | themes.daves.me.uk         */

#mainpane {
    border-left: 1px solid #431100;
    border-right: 1px solid #431100;
    border-bottom: 1px solid #431100;
    background-color: #2F1B03;
}

#serendipitySideBar {
    border-right: 1px dotted #B7740B;
}

#serendipityRightSideBar {
    border-left: 1px dotted #B7740B;
}

#serendipityLeftSideBar {
    border-right: 1px dotted #B7740B;
}

body {
    background-color: #EFE7D9;
}

.menu {
    border-top: .09em solid #000;
    border-bottom: .09em solid #bbb;
    border-left: 1px solid #431100;
    border-right: 1px solid #431100;
}

#serendipity_banner {
    border: 1px solid #431100;
    background-color: #1F1100;
}

a.homelink1,
a.homelink1:hover,
a.homelink1:link,
a.homelink1:visited,
#serendipity_banner h1 {
    color: #EFE8E0;
}

a.homelink2,
a.homelink2:hover,
a.homelink2:link,
a.homelink2:visited,
#serendipity_banner h2 {
    color: #EFE8E0;
}

.serendipity_title {
    letter-spacing: .05em;
    border-bottom: 1px solid #6C4F23;
}

.serendipity_title a:link,
.serendipity_title a:visited {
    color: #DFD2C3;
}

.serendipity_title a:hover {
    color: #9F783B;
}

.serendipity_entry {
    color: #DFD2C3;
}

div.serendipity_entryFooter {
    color: #9F783B;
    border-top: 1px none #807F6C;
    border-bottom: 1px dotted #6C4F23;
}

.serendipity_date {
    color: #9F783B;
}

.serendipity_commentsTitle {
    color: #DFD2C3;
    border-bottom: 1px dotted #6C4F23;
}

td.serendipity_commentsLabel {
    color: #DFD2C3;
}

.serendipity_commentDirection {
    color: #DFD2C3;
}

.serendipity_comment {
    color: #9F783B;
    background-color: #2F1B03;
    border: 1px dotted #B7740B;
}

.serendipity_commentBody {
    padding: 8px;
}


.serendipity_comment_source {
    border: 0;
}

a:link,
a:visited,
a:active {
    color: #DFD2C3;
}

a:hover {
    color: #9F783B;
}

table.serendipity_calendar a {
    color: #DFD2C3;
}

td.serendipity_weekDayName {
    color: #948663;
}

td.serendipity_calendarHeader a:link,
td.serendipity_calendarHeader a:visited,
td.serendipity_calendarHeader a:hover {
    color: #9F783B;
}

/* Container for each item on the side bar */
div.serendipitySideBarItem {
    color: #9F783B;
    border-bottom: dotted 1px #9F783B;
}

/* title of an individual item */
.serendipitySideBarTitle {
    color: #DFD2C3;
    background-color: #1F1100;
    border-bottom: solid 2px #6F501F;
    border-right: solid 10px #6F501F;
}

.serendipity_imageComment_txt {
    color: #DFD2C3;
}

.serendipity_center {
    color: #9F783B;
}

.serendipity_comment_source {
    background-color: #9F783B;
}

.serendipity_freetag_taglist {
    border: 1px solid #9F783B;
    background-color: #1F1100;
}

